# Telegram Bot Token
BOT_TOKEN=YOUR_BOT_TOKEN

# Database Path
DB_PATH=/data/data/com.termux/files/home/support-bot/bot.db

# Log File Path
LOG_FILE=/data/data/com.termux/files/home/support-bot/bot.log

# Default Owner Id (твій ID з Telegram)
DEFAULT_OWNER_ID=YOUR_TELEGRAM_ID